#!/usr/bin/env bash
sudof(){
    sudo bash -c "$(declare -f $1); $(printf "%q" "$@")"
}
archive_repo(){

  if [ -z "$GIT_ARCHIVE" ]; then
    export GIT_ARCHIVE="/usr/local/src/git";
    sudo mkdir -p GIT_ARCHIVE
  fi

  mkdir -p $GIT_ARCHIVE/$1
  if ! git -C $GIT_ARCHIVE/$1 pull; then
    rm -rf $REPO_DIR
    git clone https://$1.git $GIT_ARCHIVE/$1
  fi

  if [ ! -z "$2" ]; then
    mkdir -p $2
    rm -rf $2
    ln -s $GIT_ARCHIVE/$1 $2
  fi
}

appendtofile(){

    filename=${!$#}

    for i in "$@"; do

        if ! [[ "$filename" = "$i" ]]; then

            grep -q -F "$i" $filename || echo "$i" >> $filename
        fi

    done
}

include(){

  for file in "$@"; do

    [ -r $file ] && [ -f $file ] && . $file

  done;

}
