#!/usr/bin/env bash

archive_repo(){

  if [ -z "$GIT_ARCHIVE" ]; then
    export GIT_ARCHIVE="/usr/local/src/git";
    sudo mkdir -p GIT_ARCHIVE
  fi

  mkdir -p ~/$1
  if ! git -C ~/$1 pull; then
    git clone https://$1.git ~/$1
  fi

  if [ ! -z "$2" ]; then
    mkdir -p $2
    rm -rf $2
    ln -s ~/$1 $2
  fi
}
